html, body { width: 100%; height: 100%; background-color: black; }

@font-face {
font-family: 'Akronim', cursive;
font-family: 'Exo', sans-serif;
font-family: 'Geo', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Monofett', cursive;
font-family: 'Poller One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Yatra One', cursive;
font-family: 'Open Sans', sans-serif;
	src: url(https://fonts.googleapis.com/css?family=Bahiana|PT+Serif|Open+Sans|Tangerine|Raleway|Press+Start+2P); }

h1 {
	font: normal 150px 'Press Start 2P', cursive;
	color: white;
	text-align: center;
	margin: 70px;
}

.eve {
		width: 260px;
		height: 610px;
		position: fixed;
		top: 175px; left: 1100px;
		text-decoration: none;
}

.eve:hover::before {
	content: "Go back home?";
	font: normal 15px 'Press Start 2P', cursive;
	color: white;

}

.boat {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 760px; left: 90px;
}

.boat:hover::before {
	   content: "boats looking for oil";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #ea318e;
}

.glacier {
	width: 270px;
	height: 250px;
	position: absolute;
	top: 400px; left: 120px;
}

.glacier:hover::before {
	   content: "ice caps are melting";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #ea318e;
}

.polarbear {
	width: 350px;
	height: 270px;
	position: absolute;
	top: 350px; left: 870px;
}

.polarbear:hover::before {
	   content: "Polar Bears are dying";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #ea318e;
}

.ferrel {
	width: 185px;
	height: 355px;
	position: absolute;
	top: 660px; left: 800px;
}

.ferrel:hover::before {
	   content: "so hot";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #ea318e;
}

.penguin {
	width: 300px;
	height: 170px;
	position: absolute;
	top: 720px; left: 950px;
}

.penguin:hover::before {
	   content: "we dont know where to go!";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #ea318e;
}

.yellow {
	width: 240px;
	height: 210px;
	position: absolute;
	top: 660px; left: 110px;
}

.yellow:hover::before {
	   content: "full of trash!";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #fdf77b;
}

.stripes {
	width: 390px;
	height: 200px;
	position: absolute;
	top: 400px; left: 270px;
}

.stripes:hover::before {
	   content: "gyres of trash";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #fdf77b;
}

.green {
	width: 310px;
	height: 180px;
	position: absolute;
	top: 640px; left: 800px;
}

.green:hover::before {
	   content: "ew ew!";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #fdf77b;
}

.group {
	width: 410px;
	height: 190px;
	position: absolute;
	top: 830px; left: 350px;
}

.group:hover::before {
	   content: "lets get out of here";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #fdf77b;
}

.small {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 320px; left: 900px;
}

.small:hover::before {
	   content: "all the waste comes in here";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #fdf77b;
}

.orangutan {
	width: 270px;
	height: 210px;
	position: absolute;
	top: 660px; left: 120px;
}

.orangutan:hover::before {
	   content: "kinda still worth it!";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f49708;
}

.snake {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 400px; left: 900px;
}

.snake:hover::before {
	   content: "all the waste comes in here";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f49708;
}

.mogli {
	width: 200px;
	height: 150px;
	position: absolute;
	top: 400px; left: 1100px;
}

.mogli:hover::before {
	   content: "iiii mustt buy from companies that cut down rainforests for Palm oil ";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f49708;
}

.dunkin {
	width: 150px;
	height: 200px;
	position: absolute;
	top: 670px; left: 460px;
}

.dunkin:hover::before {
	   content: "whatever just cut it down. American needs its coffee!";
		 font: normal 17px 'Open Sans', sans-serif;
		 background: #f49708;
}
