*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Josefin Slab', serif;
}

/*Type Styles */

.logo p{
  font-family: 'Josefin Slab', serif;
  font-weight: 800;
  font-size: 70px;
  margin: auto;
  text-align: center;
}

h1{
    /* An Awesome Article T: */
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    color: white;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 300px 0 10px 0;
    }

h2{
    /* A Sweet article intr: */
    font-weight: 500;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: #ADA6D9;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 10px ;
}

h3{
  /* Interview Questions */
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: black;
  margin: 30px 0;
  font-size: 21px;
}

p{
    /* Lorem ipsum dolor si: */
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.7;
    margin: 10px auto;
}

/*Global Layout */
.logo {
  font-family: 'Josefin Slab', serif;
  font-size: 100px;
  font-weight: 700;
  font-style: italic;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px 5px;
    /*border: 1px dashed rgba(255,0,0,0.3);*/
    display: inline-block;
}

.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}

.grid-base .col-1{
    height: 4000px;
}

/* Article Layout*/

.cross {
   width: 100px;
   height: 100px;
   position: fixed;
}
.cross:before{
  content: "";
  position: fixed;
  background: red;
}
.cross:after {
  content: "";
  position: fixed;
  background: #9387CA;
}
.cross:before {
  top: 230px;
  left: 30px;
  width: 60px;
  height: 10px;
}
.cross:after {
  top: 205px;
  left: 54px;
  height: 60px;
  width: 10px;
}


.dakota.heading{
    background-image:url(img/dakota6.jpg);
    height:100%;
    background-position: center;
    background-size: cover;
    padding: 0;
}
.hasid.heading{
  background-image:url(img/hasid9.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.semana.heading{
  background-image:url(img/semana12.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  padding: 0;
}
.holyhell.heading{
  background-image:url(img/holyhell.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  padding: 0;
}

.heading h1{
    position: relative;
    left:50%;
    top:50%;
    height: auto;
    transform: translate(-50%, -50%);
}

.meta{
    list-style: none;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.30);
    letter-spacing: 1px;
    text-align: center;
    padding: 7px 0;
}


.content-img-landscape{
    margin: 10px;
    width: 100%;
}

.content-img-portrait{
    margin: 20px auto 4px auto;
    width: 100%;
}

.col-6.content-img-portrait.left{
    margin: 20px auto 4px auto;
    width: 50%;
    float: left;
}
.col-6.content-img-portrait.right{
    margin: 20px auto 4px auto;
    width: 50%;
    float: right;
}

.content.col-8{
    margin-left: 16.66%;
    margin-bottom: 33px;
}

.content.col-6{
    margin-left: 25%;
    margin-bottom: 33px;
}

.content.subheading.col-6{
    margin-left: 25%;
}

.content.subheading.col-10{
    margin-left: 8.33%;
}


.image{
  margin: 0px auto;
}
