*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Josefin Slab', serif;
}

/*Type Styles */

.logo p{
  font-family: 'Josefin Slab', serif;
  font-weight: 800;
  font-size: 100px;
  margin: 5px;
  text-align: center;
}

h1{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 120px;
    color: black;
    margin: auto;
    }

h2{
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    font-size: 50px;
    color: black;
    line-height: 1;
    margin: auto;
}

p{
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
    line-height: 1.7;
    margin: auto;

}

p:hover{
  font-style: italic;
  color: red;
}


a {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: black;
  font-size: 35px;
  background-color: white;
  opacity: 0.5;
  line-height: 1;
  padding: 6px;
  text-align: center;
  margin: 600px auto 10px auto;
  display: block;
}

.col-6 a {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: black;
  font-size: 35px;
  background-color: white;
  opacity: 0.5;
  line-height: 1.5;
  padding: 6px;
  text-align: center;
  margin: 600px auto 10px auto;
  text-decoration: none;
}

.col-12 a {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  color: black;
  font-size: 35px;
  background-color: white;
  opacity: 0.5;
  line-height: 1.5;
  padding: 6px;
  text-align: center;
  margin: 600px auto 10px auto;
  text-decoration: none;
}

a:hover{
  font-style: italic;
  color: #ffeb2a;
}

/*Global Layout */
.logo {
  font-family: 'Josefin Slab', serif;
  font-size: 100px;
  font-weight: 700;
  font-style: italic;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 25px 5px;
    border: 1px dashed rgba(255,0,0,0.3);
    display: inline-block;
}

.grid-base{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.grid-base .col-1{
    height: 8000px;
}

/* Article Layout*/


.heading{
    background-color: #EED70E;
    height:100%;
    padding: 0;
    margin: 0 10px 0 10px;
}

.heading h1{
    position: relative;
}

.content-img-landscape{
    margin: 0;
    width: 100%;
}

.content-img-portrait{
    margin: 0 17.5%;
}

.content.col-8{
    margin-left: 16.66%;
    margin-bottom: 30px;
}

.content.subheading.col-6{
    margin-left: 25%;
}

.hover:hover{
  border-width: 10px;
  border-color: #E10E0B;
  border-style: solid;
}

/*individial things*/

.heading .col-8 img{
    padding: 0;
    margin: auto;
}

p .col-4 {
    margin: auto;
}

/*articles*/

.semana {
    background-image:url(img/semana3.jpg);
    height:100%;
    background-position: center;
    background-size: cover;
    float: left;
    margin: 10px;
}

.dakota{
  background-image:url(img/dakota6.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 10px 0 10px 0;
}

.sweetgrass{
  background-image:url(img/sweetgrass.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 10px 0 10px 0;
}

.summerpasture{
  background-image:url(img/pastures2.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 10px;
}

.holyhell{
  background-image:url(img/holyhell.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 10px 0 10px 0;
}

.hasid{
  background-image:url(img/hasid9.jpg);
  height:100%;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 10px 0 10px 0;
}
